* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.card {
  border: 1px solid #000;
  padding: 0 .75rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.header {
  width: 100vw;
  height: 7.5vh;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.page {
  padding: 1rem;
}

.modal {
  position: absolute;
  inset: 40% 35%;
  border: 1px solid #000;
  border-radius: .25rem;
  min-width: 35vw;
}